@model BloodBank.Management.Models.ViewModel.DonationList

@{
    ViewBag.Title = "Delete";
}



<div class="app-content">
    <div class="root-description">
        <span>Home</span> / <span>Donation</span>  / <span>Delete</span>
    </div>

    <div class="blood-unity-box-card">
        <div class="blood-unity-box-card-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="blood-unity-box-card-title">
                        <span class="blood-unity-box-card-header-icon">
                            <i class="fa fa-trash blood-unity-box-card-header-icon" aria-hidden="true"></i>
                        </span>
                        <b>Delete</b>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="add-btn">
                        <span class="blood-unity-box-card-header-icon">
                            <i class="fa fa-arrow-left blood-unity-box-card-header-icon" aria-hidden="true"></i>
                        </span>
                        @Html.ActionLink("Back", "Index", "Donations")
                    </button>
                </div>
            </div>

        </div>
        <div class="blood-unity-box-card-content">

            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Donor)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Donor)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.BloodGroup)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BloodGroup)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Recipient)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Recipient)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DonationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DonationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="mt-3 col-sm-12 text-right">
                            <button type="submit" class="btn btn-default save-btn">
                                <i class="fa fa-trash pr-5" aria-hidden="true"></i> Delete
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

