@model BloodBank.Management.Models.ViewModel.DonationList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
