@model BloodBank.Management.Models.ViewModel.InventoryList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Donor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Status)*@
            @if (Model.Status)
            {
                <span class="badge badge-pill badge-danger" style="background-color:black;">Not Available</span>
            }
            else
            {
                <span class="badge badge-pill badge-success" style="background-color:black;">Available</span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
