@model IEnumerable<BloodBank.Management.Models.Entity.Hospital>

@{
    ViewBag.Title = "Index";
}

<div class="app-content">
    <div class="root-description">
        <span>Home</span> / <span>Hospital</span>
    </div>

    <div class="blood-unity-box-card">
        <div class="blood-unity-box-card-header">
            <div class="row">
                <div class="col-sm-6">
                    <div class="blood-unity-box-card-title">
                        <span class="blood-unity-box-card-header-icon">
                            <i class="fa fa-table blood-unity-box-card-header-icon" aria-hidden="true"></i>
                        </span>
                        <b>Hospital</b>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button class="add-btn">
                        <span class="blood-unity-box-card-header-icon">
                            <i class="fa fa-user-plus blood-unity-box-card-header-icon" aria-hidden="true"></i>
                        </span>
                        @Html.ActionLink("Add Hospital", "Create")
                    </button>
                </div>
            </div>

        </div>
        <div class="blood-unity-box-card-content">
            <table class="table ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td>

                            <a href="@Url.Action("Edit", "Hospitals", new {id = item.Id})" class="btn btn-primary edit-icon-btn">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Details", "Hospitals", new {id = item.Id})" class="btn btn-primary view-icon-btn">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Hospitals", new {id = item.Id})" class="btn btn-primary delete-icon-btn">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

